.item {
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
}

.itemName {
    font-weight: bold;
    padding: 20px;
}

.line {
    border: 1px solid #f4f4f4;
}

.deleteButton, .editButton, .saveButton {
    float: right;
    padding: 12px 20px;
    border: none;
    background-color: #ffcc00;
    color: white;
    margin-top: -5px;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.inputText{
    color: #353935;
    border: 1px solid #f4f4f4;
    font-size: 15px;
}

.completed {
    text-decoration: line-through;
}